In [1]:
import pandas as pd
import numpy as np

C:\Users\Khang Lam\AppData\Roaming\Python\Python38\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
april2022 = pd.read_csv('E:\Lam Nhut Thinh\Projects\Personal\Coursera\Cyclist\Datasets\Final\\202204-divvy-tripdata.csv')
may2022 = pd.read_csv('E:\Lam Nhut Thinh\Projects\Personal\Coursera\Cyclist\Datasets\Final\\202205-divvy-tripdata.csv')
june2022 = pd.read_csv('E:\Lam Nhut Thinh\Projects\Personal\Coursera\Cyclist\Datasets\Final\\202206-divvy-tripdata.csv')
july2022 = pd.read_csv('E:\Lam Nhut Thinh\Projects\Personal\Coursera\Cyclist\Datasets\Final\\202207-divvy-tripdata.csv')
august2022 = pd.read_csv('E:\Lam Nhut Thinh\Projects\Personal\Coursera\Cyclist\Datasets\Final\\202208-divvy-tripdata.csv')
september2022 = pd.read_csv('E:\Lam Nhut Thinh\Projects\Personal\Coursera\Cyclist\Datasets\Final\\202209-divvy-publictripdata.csv')
october2022 = pd.read_csv('E:\Lam Nhut Thinh\Projects\Personal\Coursera\Cyclist\Datasets\Final\\202210-divvy-tripdata.csv')
november2022 = pd.read_csv('E:\Lam Nhut Thinh\Projects\Personal\Coursera\Cyclist\Datasets\Final\\202211-divvy-tripdata.csv')
december2022 = pd.read_csv('E:\Lam Nhut Thinh\Projects\Personal\Coursera\Cyclist\Datasets\Final\\202212-divvy-tripdata.csv')
january2023 = pd.read_csv('E:\Lam Nhut Thinh\Projects\Personal\Coursera\Cyclist\Datasets\Final\\202301-divvy-tripdata.csv')
february2023 = pd.read_csv('E:\Lam Nhut Thinh\Projects\Personal\Coursera\Cyclist\Datasets\Final\\202302-divvy-tripdata.csv')
march2023 = pd.read_csv('E:\Lam Nhut Thinh\Projects\Personal\Coursera\Cyclist\Datasets\Final\\202303-divvy-tripdata.csv')

In [3]:
yearly_cylist = [april2022,may2022,june2022,july2022,august2022,september2022,october2022,november2022,december2022,
                january2023,february2023,march2023]
yearly_df = april2022
for i in range(1,len(yearly_cylist)):
    yearly_df = pd.concat([yearly_df,yearly_cylist[i]])
yearly_df

,ride_id,rideable_type,started_at,ended_at,ride_length,week_day,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3564070EEFD12711,electric_bike,4/6/2022 17:42,4/6/2022 17:54,0:12:00,4,Paulina St & Howard St,515,University Library (NU),605,42.019135,-87.673532,42.052939,-87.673447,member
1,0B820C7FCF22F489,classic_bike,4/24/2022 19:23,4/24/2022 19:43,0:20:00,1,Wentworth Ave & Cermak Rd,13075,Green St & Madison St,TA1307000120,41.853085,-87.631931,41.881892,-87.648789,member
2,89EEEE32293F07FF,classic_bike,4/20/2022 19:29,4/20/2022 19:35,0:06:00,4,Halsted St & Polk St,TA1307000121,Green St & Madison St,TA1307000120,41.871840,-87.646640,41.881892,-87.648789,member
3,84D4751AEB31888D,classic_bike,4/22/2022 21:14,4/22/2022 21:23,0:09:00,6,Wentworth Ave & Cermak Rd,13075,Delano Ct & Roosevelt Rd,KA1706005007,41.853085,-87.631931,41.867491,-87.632190,casual
4,5664BCF0D1DE7A8B,electric_bike,4/16/2022 15:56,4/16/2022 16:02,0:06:00,7,Halsted St & Polk St,TA1307000121,Clinton St & Madison St,TA1305000032,41.871808,-87.646574,41.882242,-87.641066,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258673,BA8B9D1D0AAF5F25,electric_bike,3/8/2023 0:00,3/8/2023 0:06,0:06:23,4,Rush St & Hubbard St,KA1503000044,Canal St & Adams St,13011,41.890202,-87.626232,41.879255,-87.639904,member
258674,841F8FE05B117E00,classic_bike,3/21/2023 14:24,3/21/2023 14:50,0:26:03,3,Sheridan Rd & Montrose Ave,TA1307000107,Sheridan Rd & Buena Ave,TA1309000027,41.961670,-87.654640,41.958494,-87.654966,member
258675,25892EF6A0949B97,electric_bike,3/21/2023 16:48,3/21/2023 16:51,0:02:35,3,Halsted St & Roscoe St,TA1309000025,Broadway & Waveland Ave,13325,41.943681,-87.648830,41.949074,-87.648636,member
258676,F6514CD31F2A9723,classic_bike,3/16/2023 20:36,3/16/2023 20:43,0:07:06,5,Sheridan Rd & Montrose Ave,TA1307000107,Broadway & Waveland Ave,13325,41.961670,-87.654640,41.949074,-87.648636,member
258677,FEDA9EE828BC56BF,electric_bike,3/27/2023 19:58,3/27/2023 20:03,0:05:44,2,Clark St & Wellington Ave,TA1307000136,Broadway & Waveland Ave,13325,41.936490,-87.647581,41.949074,-87.648636,member

In [4]:
yearly_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5803720 entries, 0 to 258677
Data columns (total 15 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   ride_length         object
 5   week_day            int64
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
 14  member_casual       object
dtypes: float64(4), int64(1), object(10)
memory usage: 708.5+ MB

In [5]:
yearly_df.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
ride_length                0
week_day                   0
start_station_name    839082
start_station_id      839214
end_station_name      896319
end_station_id        896460
start_lat                  0
start_lng                  0
end_lat                 5855
end_lng                 5855
member_casual              0
dtype: int64

In [6]:
len(set(yearly_df['start_station_name'].values.tolist()))

1700

In [7]:
len(set(yearly_df['end_station_name'].values.tolist()))

1724

In [8]:
yearly_df = yearly_df[["ride_id","rideable_type","started_at","ended_at","ride_length","week_day","start_station_name",
                       "end_station_name","member_casual"]]
yearly_df = yearly_df.set_index("ride_id")
yearly_df

,rideable_type,started_at,ended_at,ride_length,week_day,start_station_name,end_station_name,member_casual
ride_id,,,,,,,,
3564070EEFD12711,electric_bike,4/6/2022 17:42,4/6/2022 17:54,0:12:00,4,Paulina St & Howard St,University Library (NU),member
0B820C7FCF22F489,classic_bike,4/24/2022 19:23,4/24/2022 19:43,0:20:00,1,Wentworth Ave & Cermak Rd,Green St & Madison St,member
89EEEE32293F07FF,classic_bike,4/20/2022 19:29,4/20/2022 19:35,0:06:00,4,Halsted St & Polk St,Green St & Madison St,member
84D4751AEB31888D,classic_bike,4/22/2022 21:14,4/22/2022 21:23,0:09:00,6,Wentworth Ave & Cermak Rd,Delano Ct & Roosevelt Rd,casual
5664BCF0D1DE7A8B,electric_bike,4/16/2022 15:56,4/16/2022 16:02,0:06:00,7,Halsted St & Polk St,Clinton St & Madison St,member
...,...,...,...,...,...,...,...,...
BA8B9D1D0AAF5F25,electric_bike,3/8/2023 0:00,3/8/2023 0:06,0:06:23,4,Rush St & Hubbard St,Canal St & Adams St,member
841F8FE05B117E00,classic_bike,3/21/2023 14:24,3/21/2023 14:50,0:26:03,3,Sheridan Rd & Montrose Ave,Sheridan Rd & Buena Ave,member
25892EF6A0949B97,electric_bike,3/21/2023 16:48,3/21/2023 16:51,0:02:35,3,Halsted St & Roscoe St,Broadway & Waveland Ave,member
F6514CD31F2A9723,classic_bike,3/16/2023 20:36,3/16/2023 20:43,0:07:06,5,Sheridan Rd & Montrose Ave,Broadway & Waveland Ave,member
FEDA9EE828BC56BF,electric_bike,3/27/2023 19:58,3/27/2023 20:03,0:05:44,2,Clark St & Wellington Ave,Broadway & Waveland Ave,member

In [26]:
#yearly_df.to_csv("yearly_cyclist.csv")